<div *ngIf="Notes">
        <hr/>
        <h4>{{ Title }}</h4>
        <p>
            Investment notes add small extra pieces of information that inform about the investment.
        </p>
        <table class="table table-hover">
            <thead>
                <th>Note name</th>
                <th>Note Description</th>
            </thead>
            <tr *ngFor="let note of Notes">
                <td>{{ note.name  }}</td>
                <td>{{ note.description }}</td>            
            </tr>
            
        </table>
        
        <p><strong>Total: {{ Notes.length }}</strong></p>        
        <!-- This still works
             p><a *ngIf="OwningEntityType" [routerLink]="['/NewNote', EntityTypes[OwningEntityType], OwningEntityId]" class="btn btn-primary">Create Note</a></p> -->
    </div>
    