<div>
    <h4>Regions</h4>
    <p>Investments can be within different geographic locations that have specific influences on them. Defining regions that investments share can show how these investments are affected by those influences.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th> 
            <th>Linked investments</th>           
            <th>Dissasociate</th>
        </tr>
        </thead>       
        <tr *ngFor="let region of Regions">
                <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.name }}</a></td>
                <td>{{ region.description }}</td>
                <td><a [routerLink]="['/RegionDetails', region.id]">{{ region.investments?.length }}</a></td>
                <td><a *ngIf="region"  href="javascript:void(0)" (click)="DissasociateEntityFromInvestment(region.id, ParentId)">Dissasociate</a></td>
        </tr>
        

    </table>
    <p><strong>Total: {{ Regions.length }}</strong></p>
</div>
