<div>
    <hr/>
    <h4>Groups</h4>
    <p>
        Investments can be grouped into the same containers to add a relationship between them.
        Grouped investments share a commonality.
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Linked investments</th>
            <th>#Children</th>
            <th>Parent</th>            
            <th>Dissasociate</th>
        </tr>
        </thead>
        <tr *ngFor="let group of Groups">
            <td><a [routerLink]="['/GroupDetails', group.id]">{{ group.name  }}</a>      </td>
            <td>{{ group.description }}</td>
            <td>{{ group.type }}</td>
            <td><a>{{ group.investments?.length }}</a></td>
            <td>n/a</td>
            <td>n/a</td>
            <td><a *ngIf="group"  href="javascript:void(0)" (click)="DissasociateEntityFromInvestment(group.id, ParentId)">Dissasociate</a></td>
        </tr>
        

    </table>
    <p><strong>Total: {{ Groups.length }}</strong></p>
</div>
