<div id="wrapper">    
    <img class="img-responsive" src="/assets/logo.png" />
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a [routerLink]="['Home']" >Home</a></li>
        <li role="presentation"><a [routerLink]="['Investments']" >Investments</a></li>
        <li role="presentation"><a href="#">Factors</a></li>
        <li role="presentation"><a href="#">Groups</a></li>
        <li role="presentation"><a href="#">Risks</a></li>
        <li role="presentation"><a href="#">Regions</a></li>
    </ul>

    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#">Regions API</a></li>
        <li role="presentation"><a href="#">Factors API</a></li>
        <li role="presentation"><a href="#">Groups API</a></li>
        <li role="presentation"><a href="#">Risks API</a></li>
        <li role="presentation"><a href="#">Investments API</a></li>
    </ul>

    <h4>TODO</h4>
    <ol>        
        <li>Activity audit trail</li>
        <li>Add comments/notes to investments, factors, risks, </li>
        <li>move database online and make persistant</li>
    </ol>
</div>
