@model IEnumerable<WinInvestmentTracker.Models.Region>
@{
    Layout = null;
}

<div>
    <hr />
    <h3>Regions</h3>
    <p>Investments can be within different geographic locations that have specific influences on them. Defining regions that investments share can show how these investments are affected by those influences.</p>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Investments</th>
            <th>Description</th>
            <th><!--Delete--></th>
        </tr>
        </thead>
        @foreach (var region in Model)
        {
            <tr>
                <td>@Html.ActionLink(region.Name, "details", "Region", new { Id = region.ID }, htmlAttributes: null)</td>
                <td>@Html.ActionLink(region.Investments.Count.ToString(), "InvestmentByRegion", "Investment", new { ID = region.ID }, null)</td>
                <td>@Html.DisplayFor(model => region.Description)</td>
                <td>Dissociate</td>
            </tr>
        }

    </table>
</div>
