<!--
 Summary of the investment about to be created.
 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Factors</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    <style type="text/css">
    .node { stroke: #222; stroke-width: 1.5px; }
    .node.actor { fill: #888; }
    .node.movie { fill: #BBB; }
    .link { stroke: #999; stroke-opacity: .6; stroke-width: 1px; }
    #graph {margin-left: 30%;}    
    </style>
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">            
            <h1>Summary</h1>
            <p>Nearly there, if you are happy to create the investment, go ahead and finish the process by clicking save</p>
            <p>If you'd like to go back, you may and change some things before saving. Just press the back button</p>
            <p>These are the main <strong>Factors</strong> that you've described that would influence this investment:</p>
            <ul>
                <li th:each="factor : ${investmentForm.selectedFactors}">
                    
                    <span th:text="${factor.name}"/>
                </li>
            </ul>
            <p>These are the main <strong>Risks</strong> that could affect your investments value:</p>
            <ul>
                <li th:each="risk : ${investmentForm.selectedRisks}">
                    <span th:text="${risk.name}"/>
                </li>
            </ul>
            <p>These are the <strong>Regions</strong> that your investment is influenced by:</p>
            <ul>
                <li th:each="region : ${investmentForm.selectedRegions}" th:if="${region.id} != null">
                    <span  th:text="${region.name}"/>
                </li>
            </ul>
            <p>These are the <strong>Groups</strong> you've added this investment to:</p>
            <ul>
                <li th:each="group : ${investmentForm.selectedGroups}">
                    <span th:text="${group.name}"/>
                </li>
            </ul>
            <a class="btn btn-primary" th:href="|${flowExecutionUrl}&amp;_eventId=commit|">Finish</a>
            <a class="btn btn-primary" th:href="|${flowExecutionUrl}&amp;_eventId=cancel|">Cancel</a>
            <div th:replace="common :: webflow_diag"></div>
        </div>       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/d3js/3.5.17/d3.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
     
    /*]]>*/
    </script>
    
    </body>
</html>