@model WinInvestmentTracker.Models.Investment
    
@{
    Layout = null;
}

<div id="factor_graph">
    <svg></svg>
</div>

<script>
    /**
     * Hack to make c# model available to javascript who expects this url variable to exist and be correctly formatted using the model passed into the view
     */
    var url = "/Investment/GenerateFactorsGraph/@Model.ID";
</script>