
@{
    ViewBag.Title = "ShowGraph";
}

<h2>ShowGraph</h2>
<svg></svg>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {

            var url = "/odata/Investments";
            d3.json(url, handleGraphData);
            var rect_width = 30;
            var rect_height = 100;
            var svg_width = 960;
            var svg_height = 960;

            function handleGraphData(error, graph) {
                
                var svg = d3.select("body svg");
                svg.attr("height", svg_height)
                    .attr("width", svg_width);
                var values = 
                var yScale = d3.scale.linear().domain([0,d3.max(values)])

                svg.selectAll("rect")
                    .data(graph.value)
                    .enter()
                    .append("rect")
                    .attr("width", rect_width)
                    .attr("height", function (d) {
                        return d.Value + 100;
                    })
                    .style("fill", "blue")
                    .style("stroke-width", 3)
                    .style("stroke", "black")
                    .attr("x", function (d, i) {
                        return rect_width * i;
                    })
                    .attr("y", function (d, i) {
                        return rect_height - d.Value;
                    });

            }
        });
    </script>
}