<div *ngIf="investment">
    <h1><a>{{ investment.name }} </a></h1>    
    <h4>Investment</h4>    
    <button id="toggle" class="btn btn-default">Toggle edit</button>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>Description</dt>

        <dd>{{ investment.description }}</dd>

        <dt>Symbol</dt>

        <dd>{{ investment.symbol }}</dd>

        <dt>Value proposition</dt>

        <dd>{{ investment.valueProposition}}</dd>

        <dt>DesirabilityStatement</dt>

        <dd>{{ investment.desirabilityStatement }}</dd>

        <dt>Initial Investment</dt>

        <dd>{{ investment.initialInvestment }}</dd>
                
        <dt>Value</dt>

        <dd>{{ investment.value }}</dd>

    </dl>
</div>

<app-list-risks *ngIf="investment" [RiskLinks]="investment.risks"></app-list-risks>
<app-list-factors *ngIf="investment" [FactorLinks]="investment.factors"></app-list-factors>
<app-list-groups *ngIf="investment" [GroupLinks]="investment.groups"></app-list-groups>
<app-list-regions *ngIf="investment" [RegionLinks]="investment.regions"></app-list-regions>
<div class="tab-content">
    <div id="factors" class="tab-pane fade in active">
        
        <div id="factor_graph">
            <svg class="factors"></svg>
        </div>

        
        <!--
            <app-list-factors></app-list-factors>
        @{ Html.RenderPartial("_ListFactors", new ParentChildEntityWithHtmlActions<InvestmentInfluenceFactor, Investment>
           {
               Children = Model.Factors.ToList(),
               Parent = Model,
               HtmlActions = new List<HtmlAction>()
               {
                   new HtmlAction("", "Dissassociate", "DissassociateFactor", "Investment"),

               }
           }); }
        -->
        <p>            
            <a class="btn btn-primary">Add a factor to this investment</a>
        </p>
    </div>
    <div id="risks" class="tab-pane fade">
        
        <div id="risks_graph">
            <svg class="risks"></svg>
        </div>

        
        <!--
        @{ Html.RenderPartial("_ListRisks", new ParentChildEntityWithHtmlActions<InvestmentRisk, Investment>
           {
               Children = Model.Risks.ToList(),
               Parent = Model,
               HtmlActions = new List<HtmlAction>()
               {
                   new HtmlAction("", "Dissassociate", "DissassociateRisk", "Investment"),

               }
           }); }
        -->
        <p>
            <a class="btn btn-primary">Add a risk to this investment</a>
        </p>
    </div>
    <div id="groups" class="tab-pane fade">
        
        <div id="factor_graph">
            <svg class="groups"></svg>
        </div>
        
            <!--
        <app-list-factors></app-list-factors>
        @{ Html.RenderPartial("_ListGroups", new ParentChildEntityWithHtmlActions<InvestmentGroup, Investment>
           {
               Children = Model.Groups.ToList(),
               Parent = Model,
               HtmlActions = new List<HtmlAction>()
               {
                   new HtmlAction("", "Dissassociate", "DissassociateGroup", "Investment"),

               }
           }); }
        -->
        <p>
            <a class="btn btn-primary">Add this investment to a group</a>
        </p>
    </div>
    <div id="regions" class="tab-pane fade">
        <div id="factor_graph">
            <svg class="regions"></svg>
        </div>
        
        <!--
        <app-list-regions></app-list-regions>
        @{ Html.RenderPartial("_ListRegions", new ParentChildEntityWithHtmlActions<Region, Investment>
           {
               Children = Model.Regions.ToList(),
               Parent = Model,
               HtmlActions = new List<HtmlAction>()
               {
                   new HtmlAction("", "Dissassociate", "DissassociateRegion", "Investment"),

               }
           }); } -->
        <p>
            <a class="btn btn-primary">Add this investment to a region</a>
        </p>
    </div>
</div>
<!--
@section Scripts {
    <script type="text/javascript" src="@Url.Content("/Scripts/graphs/GraphUtils.js")"></script>
    <script type="text/javascript">

        $(document).ready(function() {
            // We land on the Influence factors tab so show the graph for it
            drawGraph("/Investment/GenerateFactorsGraph/@Model.ID", { element: "svg.factors" });
        });

        $.fn.editable.defaults.mode = 'inline';
        $('#@Html.NameFor(model => model.Name)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.Description)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.ValueProposition)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.Symbol)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.DesirabilityStatement)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.Value)').editable('toggleDisabled');
        $('#@Html.NameFor(model => model.InitialInvestment)').editable('toggleDisabled');

        //enable / disable
        $('#toggle').click(function() {
            $('#@Html.NameFor(model => model.Name)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.Description)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.ValueProposition)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.Symbol)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.DesirabilityStatement)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.Value)').editable('toggleDisabled');
            $('#@Html.NameFor(model => model.InitialInvestment)').editable('toggleDisabled');

        });

        $("#toggle-on").click(function(e) {

        });



        $('a[data-toggle="tab"]').on('shown.bs.tab',
            function(e) {
                var target = $(e.target).attr("href"); // activated tab
                // target is like #risks, #factors, #groups
                // alert("svg." + target.substr(1));
                switch (target.substr(1)) {
                case 'risks':
                    drawGraph("/Investment/GenerateRisksGraph/@Model.ID", { element: "svg.risks" });
                    break;
                case 'groups':
                    drawGraph("/Investment/GenerateGroupsGraph/@Model.ID", { element: "svg.groups" });
                    break;
                case 'factors':
                    drawGraph("/Investment/GenerateFactorsGraph/@Model.ID", { element: "svg.factors" });
                    break;
                case 'regions':
                    drawGraph("/Investment/GenerateRegionsGraph/@Model.ID", { element: "svg.regions" });
                    break;
                }

            });
    </script>
}
-->

