<div *ngIf="Entity">
    <h1><inline-editor #thisElement *ngIf="Entity?.name" type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(thisElement, Entity.id)" name="name" size="8"></inline-editor></h1>    
    <h4>Investment</h4>        
    <hr />
    <dl class="dl-horizontal">
        <dt>Description</dt>
            <dd><inline-editor #thisElement type="textarea" [(ngModel)]="Entity.description" (onSave)="saveEditable(thisElement, Entity.id)" name="description" size="8"></inline-editor></dd>
        <dt>Symbol</dt>
            <dd><inline-editor #thisElement type="text" [(ngModel)]="Entity.symbol" (onSave)="saveEditable(thisElement, Entity.id)" name="symbol" size="8"></inline-editor></dd>
        <dt>Value proposition</dt>
            <dd><inline-editor #thisElement type="text" [(ngModel)]="Entity.valueProposition" (onSave)="saveEditable(thisElement, Entity.id)" name="valueProposition" size="8"></inline-editor></dd>
        <dt>DesirabilityStatement</dt>
            <dd><inline-editor #thisElement type="text" [(ngModel)]="Entity.desirabilityStatement" (onSave)="saveEditable(thisElement, Entity.id)" name="desirabilityStatement" size="8"></inline-editor></dd>
        <dt>Initial Investment</dt>
            <dd><inline-editor #thisElement type="text" [(ngModel)]="Entity.initialInvestment" (onSave)="saveEditable(thisElement, Entity.id)" name="initialInvestment" size="8"></inline-editor></dd>
        <dt>Value</dt>
            <dd><inline-editor #thisElement  type="text" [(ngModel)]="Entity.value" (onSave)="saveEditable(thisElement, Entity.id)" name="value" size="8"></inline-editor></dd>
    </dl>
    
    <div>
        <tabset>
          <tab heading="Groups" id="tab1">
            <app-list-groups-via-grouplinks *ngIf="Entity" [ParentId]="Entity.id" [GroupLinks]="Entity.groups"></app-list-groups-via-grouplinks>
            <button type="button" class="btn btn-primary" (click)="openModalWithAssociateGroupsComponent()">Add a group</button>
            <app-graph [EntityType]="EntityTypes.InvestmentGroup" [InvestmentId]="Entity.id"></app-graph>
            <svg class="groups"></svg>
          </tab>
          <tab heading="Factors">
            <app-list-factors *ngIf="Entity" [ParentId]="Entity.id" [FactorLinks]="Entity.factors"></app-list-factors>
            <button type="button" class="btn btn-primary" (click)="openModalWithAssociateFactorsComponent()">Add a factor</button>
            <app-graph [EntityType]="EntityTypes.InvestmentInfluenceFactor" [InvestmentId]="Entity.id"></app-graph>
            <!-- Graph -->
            <svg class="factors"></svg>
          </tab>
          <tab heading="Risks">
            <app-list-risks *ngIf="Entity" [ParentId]="Entity.id" [RiskLinks]="Entity.risks"></app-list-risks>
            <button type="button" class="btn btn-primary" (click)="openModalWithAssociateRisksComponent()">Add a risk</button>

            <a [routerLink]="['/NewRisk']" class="btn btn-primary">New risk</a>
            <app-graph [EntityType]="EntityTypes.InvestmentRisk" [InvestmentId]="Entity.id"></app-graph>
            <!-- Graph -->
            <svg class="risks"></svg>
          </tab>       
          <tab heading="Regions">
            <app-list-regions *ngIf="Entity" [ParentId]="Entity.id" [RegionLinks]="Entity.regions"></app-list-regions>
            <!-- <a [routerLink]="['/AssociateRegions', Entity.id]" class="btn btn-primary" href="javascript:void(0)">Add to a region</a> -->
            <button type="button" class="btn btn-primary" (click)="openModalWithAssociateRegionsComponent()">Add a region(modal)</button>
            <app-graph [EntityType]="EntityTypes.Region" [InvestmentId]="Entity.id"></app-graph>
            <svg class="regions"></svg>
        </tab>   
        <tab heading="Notes">
            <app-list-notes *ngIf="Entity" [Notes]="Notes" [OwningEntityType]="EntityTypes[EntityTypes.Investment]" [OwningEntityId]="Entity.id"></app-list-notes>
            <button type="button" class="btn btn-primary" (click)="openModalWithNewNoteComponent()">Add a note</button>            
        </tab>        
        </tabset>
      </div>
</div>
