<form>        
   <div class="form-horizontal">
       <hr />
       <table class="table table-hover">
            <thead>                                   
                <th>Name</th>     
            </thead>
            <tr *ngFor="let item of Items">
                    <td>
                        <input type="checkbox" name="item" [(ngModel)]="item.checked" value="{{item.name}}"/>
                        <span style="padding-left: 5px;">{{ item.name }} </span>
                    </td>                
            </tr>
        </table>
   </div>
</form>
<!--
<pre>{{ Items | json }}</pre>
-->
