@model WinInvestmentTracker.Models.Investment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investment</h4>
    <hr />
    <dl class="dl-horizontal">        
        @Html.DisplayNameFor(model => model.Name)
        @Html.DisplayFor(model=>model.Name)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
