<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Investment Tracking</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" href="C:\Users\Stuart\Documents\bootstrap\3.3.5\css\bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h2>Add New Investment</h2> 
            <div class="col-md-4">                 
                <form action="#" th:action="@{/investments}" method="post">  
                    <fieldset class="form-group">
                        <label for="title">Name</label>
                        <input class="form-control" id="name" name="name" type="text" autofocus="true" placeholder="Type in the name of your investment" />                                        
                        <small class="text-muted">What is the name of this investment?</small>
                    </fieldset>     
                    <fieldset class="form-group">
                        <label for="regionId">Region</label>
                        <select class="form-control" name="regionId" id="regionId">
                            <option th:each="region : ${regions}" value="1" th:value="${region.id}" th:text="${region.name}">region</option>
                        </select>
                        <small class="text-muted">In which region is your investment based or is affected by?</small>
                    </fieldset>
                    <!--whyReasonStatement-->
                    <fieldset class="form-group">
                        <label for="whyReasonStatement">Investment Statement</label>
                            <input class="form-control" id="whyReasonStatement" name="whyReasonStatement" type="textarea" autofocus="true" placeholder="Why is this an investment" />                                        
                        <small class="text-muted">Should define why it is an investment</small>
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="initialInvestment">Investment Statement</label>
                        <input class="form-control" id="initialInvestment" name="initialInvestment" type="textarea" autofocus="true" placeholder="What was the initial investment amount" />
                        <small class="text-muted">What is the initial investment amount</small>
                    </fieldset>
                    <button type="submit" class="btn btn-primary">Submit</button>                
                </form>            
            </div>  
        </div>
        
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>    
    <script th:src="@{/common.js}"/>
    <script th:src="@{/webjars//bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function(){
                console.log("JQuery Ready.");
            });
    /*]]>*/
    </script>
    </body>
</html>