<div th:fragment="leftnav">   
    <img class="img-responsive" src="logo" th:src="@{/logo.jpg}"/>
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#" th:href="@{/}">Home</a></li>
        <li role="presentation"><a href="#" th:href="@{/investments/}">Investments</a></li>
        <li role="presentation"><a href="#" th:href="@{/investments/ShowAddInvestmentPage}">New Investment</a></li>        
        <li role="presentation"><a href="#" th:href="@{/factors}">Factors</a></li>        
    </ul>   
    
</div>
