<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Investment Groups</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1>Investment Groups</h1>
                <p th:text="${groups.isEmpty()} == false ? 'These are all the groups that are loaded in the database' : 'No groups in the database.'">These are all the factors that are loaded in the database</p>                
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>  
                            <th>Linked investments</th>
                            <th></th> <!--Delete -->                                                       
                        </tr>
                    </thead>
                    <tr th:each="group : ${groups}">
                    <td>
                        <a href="#" th:text="${group.name}" th:href="|/group/${group.id}|"/>
                    </td>
                    
                    <td th:text="${group.description}"></td>
                    <td> <a th:href="|/group/${group.id}|"  th:text="${group.investments.size()}"></a></td>
                    <td><a href="#" th:href="|/group/${group.id}/delete|">Delete</a></td>
                 </tr>
                </table>
                <a class="btn btn-primary" th:href="|/NewGroup|">New Group</a>
                <div id="InvestmentGroups"/>                        
        </div>     
        
       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/d3js/3.5.17/d3.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
$(document).ready(function(){
    console.log("JQuery Ready.");
    var i;
    var svg = "";
    var graphs = ["#InvestmentRegions","#InvestmentRisks","#InvestmentFactors","#InvestmentGroups"];
    for(i = 0; i < graphs.length ;i++){        
        var url = "http://localhost:8080/api/" + graphs[i].replace("#","");
        d3.json(url, handleGraphData);
    }
    function handleGraphData(error, graph)
    {
        if (error || graph.nodes.length == 0) return;
        
        var width = 500, height = 200;

        var force = d3.layout.force()
            .charge(-1*graph.nodes.length*10).linkDistance(graph.nodes.length+100).size([width, height]);
        
        var divName;
        var i;
        for(i = 0; i < graph.nodes.length;i++)
        {
            if( graph.nodes[i].label == "region"){
                divName = "#InvestmentRegions";
                break;
            }
            if( graph.nodes[i].label == "factor"){
                divName = "#InvestmentFactors";
                break;
            }
            if( graph.nodes[i].label == "risk"){
                divName = "#InvestmentRisks";
                break;
            }
            if( graph.nodes[i].label == "group"){
                divName = "#InvestmentGroups";
                break;
            }
        }
        
        svg = d3.select(divName)
                .append("svg")
                .attr("viewBox", "70 -50 700 300")            
                .attr("pointer-events", "all");


        force.nodes(graph.nodes).links(graph.links).start();

        var link = svg.selectAll(".link")
                .data(graph.links).enter()
                .append("line").attr("class", "link");

        var node = svg.selectAll(".node")
                .data(graph.nodes)
                .enter()
                .append("circle")
                .attr("class", function (d) { return "node "+d.label; })
                .attr("r", 5)                
                .call(force.drag); 
        

        var text = svg 
                .selectAll("text")
                .data(graph.nodes)
                .enter()
                .append("text")                
                .text(function (d) { return d.name })                
                .attr("font-family", "sans-serif")
		.attr("font-size", "11px")
		.attr("fill", "black")
                .attr("class",function(d){ return d.label;})


        // force feed algo ticks
        force.on("tick", function() {
            link.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });

            node.attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });
            text.attr("x", function(d){ return d.x+10; });
            text.attr("y", function(d){ return d.y+10; });
        });
        
    
    }
    

 
});  
    /*]]>*/
    </script>
    </body>
</html>