<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Investment Tracking</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1>Investments</h1>            
            <form method="POST" >                
                <p th:text="${investments.isEmpty()} == false ? 'These are all the investments that are loaded in the database' : 'No investments in the database.'">These are all the investments that are loaded in the database</p>
                <table class="table table-hover" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Regions</th> 
                            <th>Risks</th>
                            <th>Factors</th>
                            <th>Groups</th>
                            <th></th> <!--Delete -->                                                       
                        </tr>
                    </thead>
                    <tr th:each="investment : ${investments}">
                    <td>
                        <a href="#" th:text="${investment.name}" th:href="|${investment.id}/view|"/>
                    </td>
                    <td>
                        <span th:each="region : ${investment.regions}">
                            <a th:href="|/region/${region.id}|" th:text="${region.name}">regions</a><br/>
                        </span>  
                    </td>
                    <td>
                        <span th:each="risk : ${investment.risks}">
                            <a th:text="${risk.name}" th:href="|/risk/${risk.id}|"></a><br/>
                        </span>   
                    </td>
                    <td>
                        <span th:each="factor : ${investment.influenceFactors}">                            
                           <a th:text="${factor.name}" th:href="|/factors/${factor.id}|"></a><br/>
                        </span>   
                    </td>
                    <td>
                        <span th:each="group : ${investment.groups}">
                            <a th:text="${group.name}" th:href="|/group/${group.id}|"></a><br/>
                        </span>   
                    </td>
                    <td><a href="#" th:href="|${investment.id}/delete|">Delete</a></td>
                 </tr>
                </table>                               
            </form>
            <div id="wrapper">               
                <div th:replace="common :: investment_actions"></div>          
            </div>
        </div>       
       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/webjars/d3js/3.5.17/d3.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
     
    /*]]>*/
    </script>
    </body>
</html>