<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Investment Tracking</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <!--<p th:text="${investments.isEmpty()} == false ? 'These are all the investments that are loaded in the database' : 'No investments in the database.'">These are all the investments that are loaded in the database</p>-->
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tr th:each="investment : ${investments}">
                <td>
                    <a href="#" th:text="${investment.name}"/>
                </td>                    
             </tr>
            </table>            
        </div>       
        
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars//bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
        $(document).ready(function(){
                console.log("JQuery Ready.");                
            });
                    
                
        var MYAPP = {};
        
        MYAPP.person = { 
            "name" : "Stuart", 
            "age" : 29
        }
        
        MYAPP.person.name = "Stuart Robert Charles";
        
        console.log("person name is " + MYAPP.person.name);
        console.log("person age is " + MYAPP.person.age);
        
        
        MYAPP.dog = {
            name : "property1",
            "age" : 25,
            isMale : false            
        };
        
        console.log("dog name is " + MYAPP.dog.name);
        console.log("dog age is " + MYAPP.dog.age);
        console.log("dog isMale? = " + MYAPP.dog.isMale);
        
        
    /*]]>*/
    </script>
    </body>
</html>