<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Investment Tracking</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1>Investment Details</h1>
            <dl class="dl-horizontal">
                <dt>Investment Name</dt>
                <dd th:text="${investment.name}">Investment Name</dd>
                <dt>Investment Reason</dt>
                <dd th:text="${investment.whyReasonStatement}">Why statement</dd>
                <dt>Investment Region</dt>
                <dd th:text="${investment.regions[0].name}">the region of investment</dd>
                
            </dl>
        </div>       
       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
     $(document).ready(function(){
                console.log("JQuery Ready.");
    /*]]>*/
    </script>
    </body>
</html>
