<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Risk details</title>
        <div th:replace="common :: css"></div>
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1><a id="name" data-type="text" data-pk="1" th:attr="data-pk=${risk.id},data-title='Enter data',data-url=@{/risk/update}"  data-url="/investments/update" data-title="Enter data" th:text="${risk.name}">Name</a></h1>
            <p><a id="description" data-type="text" data-pk="1" th:attr="data-pk=${risk.id},data-title='Enter data',data-url=@{/risk/update}"  data-url="/investments/update" data-title="Enter data" th:text="${risk.description}">Name</a></p>
            <table class="table table-hover" >
                    <thead>
                        <th>Investment Name</th>
                        <th>Description</th>
                        <th>Value</th>
                    </thead>                    
                    
                    <tr th:each="investment : ${risk.investments}">
                        <td>
                            <a th:href="|/investments/${investment.id}/view|" th:text="${investment.name}">investment</a><br/>
                        </td>
                        <td th:text="${investment.description}"></td>
                        <td><span th:text="${investment.value}">Value</span></td>                        
                    </tr>
                    
                                    
                </table>                
        </div>
     <div th:replace="common :: javascript"></div>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
        $.fn.editable.defaults.mode = 'inline';
        $('#name').editable();
        $('#description').editable();
    });
    /*]]>*/
    </script>
    </body>
</html>
