<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Group details</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1 th:text="${group.name}">Group details</h1>
            <p th:text="${group.description}"></p>
            <table class="table table-hover" >
                    <thead>
                        <th>Investment Name</th>                        
                        <th>Description</th>    
                        <th>Current Value</th>    
                    </thead> 
                    <tr th:each="investment : ${group.investments}">                        
                        <td>
                            <a th:href="|/group/${group.id}/view|" th:text="${investment.name}">investment</a><br/>
                        </td>
                        <td th:text="${investment.description}"></td>
                        <td th:text="${investment.value}"></td>
                    </tr> 
                </table> 
            <!-- Children -->
            <h3>Subgroups</h3>
            <table class="table table-hover" >
                <thead>
                    <th>Name</th>
                </thead>
                <tr th:each="child : ${group.children}">
                    <td>
                        <a href="#" th:href="|/group/${child.id}|" th:text="${child.name}">Child group</a>
                    </td>
                </tr>
            </table>
            <a class="btn btn-primary" th:href="|/group/newChildGroup/parent/${group.id}|" href="#">Add new child group</a>
        </div>
        
       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
    }
    /*]]>*/
    </script>
    </body>
</html>
