<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Risk details</title>
        <link rel="stylesheet" th:href="@{/style.css}" />
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" href="bootstrap.min.css"  media="screen" />        
    </head>
    <body>        
        <div class="col-md-2">
            <div id="wrapper">               
                <div th:replace="common :: leftnav"></div>          
            </div>
        </div>
        <div class="col-md-10">
            <h1 th:text="${risk.name}">Group details</h1>
            <p th:text="${risk.description}"></p>
            <table class="table table-hover" >
                    <thead>
                        <th>Investment Name</th>
                        <th>Description</th>
                        <th>Value</th>
                    </thead>                    
                    
                    <tr th:each="investment : ${risk.investments}">
                        <td>
                            <a th:href="|/investments/${investment.id}/view|" th:text="${investment.name}">investment</a><br/>
                        </td>
                        <td th:text="${investment.description}"></td>
                        <td><span th:text="${investment.value}">Value</span></td>                        
                    </tr>
                    
                                    
                </table>                
        </div>
        
       
    <script src="@{/themes/jquery.js}" th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"/>
    <script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"/>
    <script th:src="@{/common.js}"/>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function(){
    }
    /*]]>*/
    </script>
    </body>
</html>
