<div *ngIf="Entity">
    <h1><inline-editor #thisElement *ngIf="Entity?.name" type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(thisElement, Entity.id)" name="name" size="8"></inline-editor></h1>
    <h4>Investment Influence Entity</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>Description</dt>

        <dd><inline-editor #thisElement *ngIf="Entity?.description" type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(thisElement, Entity.id)" name="description" size="8"></inline-editor></dd>

        <dt>Influence</dt>

        <dd><inline-editor #thisElement *ngIf="Entity?.influence" type="text" [(ngModel)]="Entity.influence" (onSave)="saveEditable(thisElement, Entity.id)" name="influence" size="8"></inline-editor></dd>

    </dl>
    <div><app-list-investments [Entity]="Entity"></app-list-investments>
</div>
</div>