<div>
    <h1><inline-editor #thisElement *ngIf="Entity?.name" type="text" [(ngModel)]="Entity.name" (onSave)="saveEditable(thisElement, Entity.id)" name="name" size="8"></inline-editor></h1>
    <h4>Investment Group</h4>
    <hr />
    <dl *ngIf="Entity" class="dl-horizontal">
       
        <dt>Description</dt>

        <dd><inline-editor #thisElement type="text" [(ngModel)]="Entity.description" (onSave)="saveEditable(thisElement, Entity.id)" name="description" size="8"></inline-editor></dd>

        <dt>Type</dt>

        <dd><inline-editor #thisElement  type="text" [(ngModel)]="Entity.type" (onSave)="saveEditable(thisElement, Entity.id)" name="type" size="8"></inline-editor></dd>

    </dl>
</div>
<div>
    <app-list-investments [Entity]="Entity"></app-list-investments>      
</div>
<div>
    <h3>Sub groups</h3>
    <app-list-groups [ParentGroup]="Entity" [Groups]="Entity.children"></app-list-groups>
</div>
<div>
        <app-list-notes *ngIf="Entity" [OwningEntityType]="EntityTypes[EntityTypes.InvestmentGroup]" [OwningEntityId]="Entity.id"></app-list-notes>
</div>



